* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  min-height: 100dvh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana,
  tambien a parte de dvh o lvh o svh*/
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Tres filas para el encabezado, contenido y pie de 
  página el fr nos dice que todo lo que sobre se rellene en esl medio*/
  gap: 0;
}


/**/
/*aca estara la parte de articulos*/
/*aca esta la pagina home.html */
main {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  margin-top: calc(80px + 2rem);
  gap: 2rem;
  overflow-x: hidden;
  padding: 1rem;
}
main .home-camera,
.mype-camera {
  width: 45%;
  height: auto;
  border-radius: 10px;
  display: block;
  place-items: center;
}
main .home-camera {
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(173, 212, 228, 0.6)
  );
}
main .mype-camera {
  background: linear-gradient(
    rgba(234, 230, 210, 0.6),
    rgba(255, 254, 254, 0.5)
  );
}
main article{
    width: 300px;
    text-align: center;
    font-family: "Mulish", sans-serif;
}
figure .camera{
    width: auto;
    height: 400px;
    padding: 10px;
}
main .info{
    padding: 10px;
    margin: 10px;
    background-color: #800020;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-family: "WDXL Lubrifont TC", sans-serif;
}
main .info:hover{
  opacity: 0.8;
  transform: scale(1.1); /* Hace que la imagen crezca un poco */
  transition: transform 0.2s ease-in-out;
}
a{
  color: white;
}

/**/
/*Productos home*/
.devices{
  display: flex;
  flex-direction: column;
  background-color: rgb(223, 217, 217);
}
.devices section{
  display: flex;
  flex-direction: row;
}
section .products{
  position: relative;
  width: 300px;
  background-color: white;
  margin: 50px auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px #758694;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s ease;
}
section .products:hover{
  transform: translateY(-5px);
}
.products img{
  width: 100%;
  height: 350px;
  display: block;
  object-fit: 100% 100%;
}
.insignia{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #800020;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: bold;
  z-index: 10;
}
h2{
   font-family: "Quicksand", sans-serif;
}
@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  main .home-camera,
  .mype-camera {
    width: 90%;
    margin: 10px 0;
  }
}