* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.container {
  min-height: 100dvh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana,
  tambien a parte de dvh o lvh o svh*/
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Tres filas para el encabezado, contenido y pie de 
  página el fr nos dice que todo lo que sobre se rellene en esl medio*/
}

main {
  margin: 0;
   display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-top: 5rem; 
}

.parte1 {
  display: flex;
  flex-direction: row; /* fila: letras a la izquierda, imagen a la derecha */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 2rem;
}
.foto {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}
.letras {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* alinea a la izquierda */
  gap: 1rem;
  height: auto;
}
.title,
.title2 {
  font-size: 2.5rem;
  text-align: left;
}

.cta-boton {
 border-radius: 15px;
  background-color: #e78738;
  padding: 12px 24px;
  font-size: 1.2rem;
  border: none;
}
.home .cta-boton a {
 text-decoration: none;
  color: white;
}

.cta-boton:hover {
 background-color: red;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/* ======== MOBILE / TABLET ======== */
@media screen and (max-width: 768px) {
  .parte1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .letras {
    align-items: center;
  }

  .title,
  .title2 {
    font-size: 1.5rem;
  }

  .cta-boton {
    width: 80%;
    font-size: 1rem;
    margin-top: 1rem;
  }

  .foto {
    order: 3; /* opcional: asegura que la imagen esté abajo */
  }
}


/**/

.cta-boton a {
  text-decoration: none;
  color: white;
}

.cta-boton:hover {
  background-color: red;
  font-size: 22px;
  transform: scale(1.2);
  transition: transform 0.1s;
}

/**/

.galeria-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin: 30px;
}

.galeria-servicios .moni {
  background: white;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 4px black;
  transition: transform 0.2s ease;
}

.galeria-servicios .moni:hover {
  transform: translateY(-5px);
}

.galeria-servicios .moni img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.moni h3 {
  font-size: 25px;
}

.moni p {
  font-size: 22px;
}

.simulacion {
   width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

